<!-- index.hbs/header -->
<h1  align="center">SELECT A PAGE TO VIEW</h1>

    <a href="/"><p align="center">Index</a> |
    <a href="/donors">Donors</a> |
    <a href="/donations">Donations</a> |
    <a href="/charities">Charities</a> |
    <a href="/projects">Projects</a> |
    <a href="/charities_has_projects">Charities Has Projects</a>
    <div id="browse" style="display: block">



